@{
    ViewData["Title"] = "Home Page";
}

<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <h1 class="display-4">
                        Build <strong>social profiles</strong> and gain revenue <strong>profits</strong>
                    </h1>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Him low few in that beyond whateer of condole pillared passion soon present flaunting dares
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Him low few in that beyond whateer of condole pillared passion soon present flaunting dares
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Him low few in that beyond whateer of condole pillared passion soon present flaunting dares
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card bg-primary text-center card-form">
                        <div class="card-body">
                            <h3>Sign up Today</h3>
                            <p>
                                Please fill out this form to register
                            </p>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Username" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" />
                                </div>

                                <input type="submit" value="submit" class="btn btn-outline-light btn-block" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="explore-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Explore</h1>
                <p class="lead">
                    Ne but climes native haply alone in not pilgrimage none childe thy whateer virtues thence he moths aught of uncouth now one dwelt with with save loved nor below feeble there of can to beyond power a there hope holy
                </p>
                <a href="#" class="btn btn-outline-secondary">Find out More</a>
            </div>
        </div>
    </div>
</section>

<section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/looplab/explore-section1.jpg" class="img-fluid mb-3 rounded-circle" alt="Alternate Text" />
            </div>

            <div class="col-md-6">
                <h3>Explore & Connect</h3>
                <p>
                    Heralds and and mirth tear times to they the say power deemed true vaunted would whateer from that did deem his many wins where he earthly his venerable his lowly
                </p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Sore festal chaste scape where pilgrimage a known from yet save nor these and lineage thy mine of to grief
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Sore festal chaste scape where pilgrimage a known from yet save nor these and lineage thy mine of to grief
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="create-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Explore</h1>
                <p class="lead">
                    Ne but climes native haply alone in not pilgrimage none childe thy whateer virtues thence he moths aught of uncouth now one dwelt with with save loved nor below feeble there of can to beyond power a there hope holy
                </p>
                <a href="#" class="btn btn-outline-light">Find out More</a>
            </div>
        </div>
    </div>
</section>

<section id="create-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2">
                <img src="~/img/looplab/create-section1.jpg" class="img-fluid mb-3 rounded-circle" alt="Alternate Text" />
            </div>

            <div class="col-md-6 order-1">
                <h3>Create Your Passion</h3>
                <p>
                    Heralds and and mirth tear times to they the say power deemed true vaunted would whateer from that did deem his many wins where he earthly his venerable his lowly
                </p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Sore festal chaste scape where pilgrimage a known from yet save nor these and lineage thy mine of to grief
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Sore festal chaste scape where pilgrimage a known from yet save nor these and lineage thy mine of to grief
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="share-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Share</h1>
                <p class="lead">
                    Ne but climes native haply alone in not pilgrimage none childe thy whateer virtues thence he moths aught of uncouth now one dwelt with with save loved nor below feeble there of can to beyond power a there hope holy
                </p>
                <a href="#" class="btn btn-outline-light">Find out More</a>
            </div>
        </div>
    </div>
</section>

<section id="share-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/looplab/share-section1.jpg" class="img-fluid mb-3 rounded-circle" alt="Alternate Text" />
            </div>

            <div class="col-md-6">
                <h3>Share What You Create</h3>
                <p>
                    Heralds and and mirth tear times to they the say power deemed true vaunted would whateer from that did deem his many wins where he earthly his venerable his lowly
                </p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Sore festal chaste scape where pilgrimage a known from yet save nor these and lineage thy mine of to grief
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Sore festal chaste scape where pilgrimage a known from yet save nor these and lineage thy mine of to grief
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



